[Unit]
Description=VerFSNext FUSE Filesystem
After=local-fs.target

[Service]
Type=simple
User=verfs
Group=verfs
ExecStart=/usr/local/bin/verfsnext --config /etc/verfsnext/config.toml
Restart=on-failure
RestartSec=2
KillSignal=SIGINT
TimeoutStopSec=3000

[Install]
WantedBy=multi-user.target
